.sidebar-fixed {
  height: 50vh;
  width: 270px;
  margin-top: 25px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 5rem; }
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
    .sidebar-fixed .logo-wrapper img {
      max-height: 50px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #929FBA; }

@media (min-width: 1200px) {
  .littleButton { display: none}
  .container{
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .navbar,
  .page-footer, main {
    padding-left: 270px;
    padding-right: 170px
  }
}


@media (max-width: 1199.98px) {
  .bigButton {display: none}
  .sidebar-fixed {display: none; }
}

.page-footer {
  background-color: #929FBA; }

#signals{
  background-color: #ff1744;
}

