/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

.wrapperheader{
  background: #090001;
}

@media (max-width: 776px){
  .imgForBigScreen{
    display: none;
  }
  .headerimagewrapper{
    width: 99%;
    margin: 5% auto 0 auto;
  }
  .imgForLittleScreen{
    height: 270px;
    max-width: 100%;
  }
}
@media  (min-width : 775px) and (max-width : 1024px) {
  .imgForLittleScreen{
    display: none;
  }
  .headerimagewrapper{
    width: 99%;
    margin: 0 auto;
  }
  .imgForBigScreen{
    height: 350px;
    max-width: 100%;
  }
  .fixedFooterForBigScreen{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 1023px) {
  .headerimagewrapper{
    width: 80%;
    margin: 0 auto;
  }
  .imgForLittleScreen{
    display: none;
  }
  .imgForBigScreen{
    height: 400px;
    max-width: 100%;
  }
  .fixedFooterForBigScreen{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #929FBA; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #929FBA; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA;
}






