/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/

@media (max-width: 776px) {
  .carousel {
    height: 50%; }
  .display_on_big_screen{
    background-image: url(../img/head_backgraund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media(min-width: 776px) {
  .display_on_big_screen{
    background-image: url(../img/shapka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .display_on_litle_screen{
    display: none;
  }
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #929FBA; }

/* Adding color to the Navbar on mobile */
/*@media only screen and (max-width: 768px) {*/
  /*.navbar {*/
    /*background-color: #929FBA; } }*/

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA;
}




