/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

.wrapperheader{
  background: #060000;
}

.price_body{
    height: 150px;
  }

@media (max-width: 776px){
  .imgForBigScreen,.imgForVeryBigScreen{
    display: none;
  }
  .headerimagewrapper{
    width: 99%;
    margin: 5% auto 0 auto;
  }
  .imgForLittleScreen{
    height: 270px;
    max-width: 100%;
  }
}
@media  (min-width : 775px) and (max-width : 1024px) {
  .imgForLittleScreen, .imgForVeryBigScreen{
    display: none;
  }
  .headerimagewrapper{
    width: 99%;
    margin: 0 auto;
  }
  .imgForBigScreen{
    height: 350px;
    max-width: 100%;
  }
  .price_caption{
    height: 150px;
  }
  .fixedFooterForBigScreen{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 1023px) {
  .imgForLittleScreen,.imgForBigScreen{
    display: none;
  }
  .headerimagewrapper{
    padding-top: 1% ;
    width: 61%;
    margin: 0 auto;
  }
  .imgForVeryBigScreen{
    height:  400px;
    max-width: 100%;
  }
  .price_caption{
    height: 100px;
  }
  .fixedFooterForBigScreen{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

/* Navbar animation */
.navbar {
  background-color: rgba(13, 1, 3, 0.2);
}
.top-nav-collapse, .navAboutPage {
  background-color: #090000;
  opacity: 0.95;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #090000;
    opacity: 0.9;
  }
}

/* Footer color for sake of consistency with Navbar */
.footerUpSide {
 background: rgba(9,0,9,0.95);
}
.footerMiddleSide{
  opacity: unset;
}
.footerDownSide{
  background-color: #090000;
}







